html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 1440px;
  height: 1024px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loginpage {
  width: 660px;
  height: 423px;
  border-radius: 15px;
  background-color: #dcecff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.loginpage__main-title-text {
  width: 292px;
  height: 38px;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.loginpage__signin-container {
  width: 434px;
  height: 48px;
  border-radius: 15px;
  border: solid 2px #979798;
  background-color: #ffffff;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loginpage__container-text {
  height: 21px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.loginpage__divider-line {
  width: 434px;
  height: 3px;
  background-color: #ffffff;
  margin-top: 10px;
  margin-bottom: 35px;
}

.loginpage__already-have-text {
  width: 208px;
  height: 16px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.onboarding-body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: -15rem;
}

.onboarding-body .onboarding {
  width: 660px;
  height: 423px;
  border-radius: 5px;
  border: solid 0.3px #000000;
  background-color: #c4c4c4;
}

.onboarding__inner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.onboarding__inner-content .onboarding__btn {
  width: 434px;
  height: 48px;
  font-size: 18px;
  background-color: #ffffff;
}

.onboarding__inner-content .onboarding__h1 {
  width: 638px;
  height: 42px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  position: relative;
  top: -6rem;
}

.onboarding__inner-content .sentence {
  width: 318px;
  height: 21px;
  font-family: Roboto;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.onboarding__inner-content .onboarding__check-list ul li {
  list-style: none;
}

.onboarding__inner-content .checkbox {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
}

.dash-body {
  width: 1440px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.public-statement {
  width: 660px;
  height: 195px;
  border-radius: 10px;
  background-color: #dcecff;
}

.combined {
  width: 660px;
  height: 783px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review {
  width: 660px;
  height: 195px;
  border-radius: 10px;
  background-color: #dcecff;
}

.complaince {
  width: 660px;
  height: 568px;
  margin-left: 200px;
  border-radius: 10px;
  background-color: #dcecff;
}
/*# sourceMappingURL=main.css.map */