.loginpage {
  width: 660px;
  height: 423px;
  border-radius: 5px;
  border: solid 0.3px #000000;
  background-color: #c4c4c4;
  &__main-title-text {
    width: 292px;
    height: 38px;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
}
